# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
# Covers common names like .venv, venv, and env
.venv/
venv/
env/
ENV/

# Environment variables / Secrets
# PRO TIP: Never commit your API keys or passwords
.env
.env.*

# Distribution / Build / Packaging
# These are generated when pyinstaller builds or packages the project
dist/
build/
*.egg-info/
.eggs/

# IDE-specific files
.vscode/
.idea/

# Unit test / Coverage reports
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Misc Files
*.txt

# Misc Folder Contents
resource_packs/*

# Exceptions

# Developer Exclusives
*debug*

# Exlude
excluded/

# Configurations
settings.json

# Game Spacific Data
logs/